<table>
        <thead>
            <tr>
                <th>VIN</th>
                <button (click)="getVin()">Search</button>
                <th>ODOMETRO</th>
                <th>NIVEL DE COMBUSTIVEL</th>
                <th>STATUS</th>
                <th>LAT</th>
                <th>LONG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" placeholder="{{ vin }}" value="{{ vin }}">
                </td>
                <td>{{ VinSelect?.odometro }}</td>
                <td>{{ VinSelect?.nivelCombustivel }}%</td>
                <td>{{ VinSelect?.status }}</td>
                <td>{{ VinSelect?.lat }}</td>
                <td>{{ VinSelect?.long }}</td>
            </tr>
        </tbody>
    </table>