<table>
        <thead>
            <tr>
                <th>VIN</th>
                <th>ODOMETRO</th>
                <th>NIVEL DE COMBUSTIVEL</th>
                <th>STATUS</th>
                <th>LAT</th>
                <th>LONG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" placeholder="{{ vin }}" value="{{ vin }}">
                </td>
                <td>23344</td>
                <td>76%</td>
                <td>ON</td>
                <td>-12.2322</td>
                <td>-35.2314</td>
            </tr>
        </tbody>
    </table>